[submodule "source/service.subtitles.serialzone.cz"]
	path = source/service.subtitles.serialzone.cz
	url = git@github.com:beam/service.subtitles.serialzone.cz.git
[submodule "source/service.subtitles.edna.cz"]
	path = source/service.subtitles.edna.cz
	url = git@github.com:beam/service.subtitles.edna.cz.git
[submodule "source/service.subtitles.titulky.com"]
	path = source/service.subtitles.titulky.com
	url = git@github.com:beam/service.subtitles.titulky.com.git
[submodule "source/service.subtitles.nextweek.cz"]
	path = source/service.subtitles.nextweek.cz
	url = git@github.com:beam/service.subtitles.nextweek.cz.git
